.admin-container{

    overflow: hidden;
width: 1200px;
display: flex;
height: 700px;
    
}

.route-list{
    width: 500px;
    float: left;
    border: 1px solid black;
    button{
        float: right;
    }
    h3{
        text-align: center;
    }
    h5{
        text-align: center;
    }

    table{
        margin: 0 auto;
        text-align: center;
        border: 1px solid black;
        width: 100%;

        thead{
            border: 1px solid black;

            th{
                border: 1px solid black;
                
                
            }
            th::nth-child(1){
                width: 33%;
            }
            th::nth-child(2){
                width: 33%;
            }
            th::nth-child(3){
                width: 33%;
            }
        }

        tbody{

            tr{
                border: 1px solid black;
            }
            
        }
        
        
    }
    
}

.route-add-to-list{
    width: 500px;
    overflow: hidden;
    border: 1px solid black;

    h3{
        text-align: center;
    }
    .form__label{
        color: #777;
        font-size: 1.2em;
        animation: fadeIn 1s 1.8s backwards;
        
    }

    .form__input{
        margin: 0 auto;
        position: relative;
        display: block;
        height: 25px;
        padding: 6px 16px;
        width: 60%;
        border: none;
        background-color: #f3f3f3;
        margin-bottom: 10px;
        margin-top: 10px;
    }
    form{
        text-align: center;
        input{
            display: block;
        }

        input{
            animation: fadeIn 1.5s 2.3s backwards;
        }
    }
    label{
        margin-bottom: 10px;
        display: block;
    }

    .select_container{
        position: relative;
    }

    .select_container select{
        display: block;
        margin: 0 auto;
        
        cursor: pointer;
        background-color: #0563af;
        color: white;
        padding: 12px;
        width: 175px;
        border: none;
        font-size: 15px;
        box-shadow: 0 10px 25px rgba(0, 0, 0, 0.6);
        animation: fadeIn 1.5s 2.3s backwards;
        -webkit-appearance: button;
        appearance: button;
        outline: none;
    }
    
    .select_container:hover{
        select{
            background-color: rgb(0, 140, 255);
            &:hover{
                option{
                    background-color: rgb(0, 195, 255);
                }
            }
        }
    }

    

    
.buttonholder{
    margin-bottom: 50px;
    button{
        padding: 15px 24px;
        font-size: 16px;
        text-align: center;
        cursor: pointer;
        outline: none;
        color: #fff;
        background-color: #0578ba;
        border: none;
        border-radius: 20px;
        box-shadow: 0 4px #999;
        opacity: 0;
        animation: fadeInUp 1s 1s;
        animation-fill-mode: forwards;
        margin: 0 auto;
        display: block;
        
        

        &:hover{
            background-color: #00cdcd;
            color: rgb(255, 255, 255);
        }

        &:active{
        background-color: #00ff22;
        box-shadow: 0 5px rgb(138, 138, 138);
        transform: translateY(4px);
        }
    }
}
    
}

