
    
  .price-wrapper{
    width: 100%;
    overflow: hidden;

    
  }
  


  .ticket-type{
    width: 50%;
    height: 800px;
    float:left; /* add this */
    overflow: hidden;


    h2{
        text-align: center;
        margin-top: 30px;
        margin-bottom: 30px;
    }

    Button{
        width: 30%;
        height: 7%;
        display: block;
        margin-left: 35%;
        font-weight: 800;
        background-color: rgb(150, 143, 143);
        border-radius: 8px;
    }

    select{
        display: block;
        margin-bottom: 70px;
        margin-left: 250px;
        width: 230px;
        height: 50px;
        border-radius: 25px;
        border: none;
        color: black;
        font-weight: 500;    
    }
}




  .ticket-price{
    height: 600px;
    overflow: hidden;

    h2{
        text-align: center;
        margin-top: 30px;
        margin-bottom: 50px;
    }

    table {
        border: 2px solid black;
        width: 600px;
        height: 400px;
        margin-left: auto;
        margin-right: auto;

        th {
            border-bottom: 1px solid black;
          }
            
          td {
            text-align: center;
          }
      }
  }