.form{
    background-color: rgb(255, 255, 255);
    border-radius: 5px;
    width: 45%;
    height: 570px;
    margin: 20px auto;
    padding: 20px;
    margin-top: 300px;
    box-shadow: 1px 4px 10px 1px #aaa;
    font-size: 20px;
    animation: fadeIn 0.5s 1s backwards;



    .from *{
        box-sizing: border-box;
    }
     #password, #name, #userName , #date,  #email{
        display: block;
        height: 32px;
        padding: 6px 16px;
        width: 95%;
        border: none;
        background-color: #f3f3f3;

        
    }

    .form-body{
        text-align: left;
        padding: 20px 10px;

        h2{
            margin-top: -20px;
            text-align: center;
        }
    }
    
    .form-body > *{
        padding: 5px;
    }
    
    .form__label{
        color: #777;
        font-size: 1.2em;
        animation: fadeIn 1s 1.8s backwards;
    }
    
    input{
        animation: fadeIn 1.5s 2.3s backwards;
    }

    .button_holder_loginon{
        display: block;
        
        button {
            padding: 15px 25px;
            font-size: 25px;
            text-align: center;
            cursor: pointer;
            outline: none;
            color: #fff;
            background-color: #0578ba;
            border: none;
            border-radius: 15px;
            box-shadow: 0 4px #999;
            margin-top: 40px;
            margin: 0 auto;
            margin-top: 50px;
            display: block;
            width: 200px;
            height: 50px;
            
            &:hover{
                background-color: #00cdcd
            }
    
            &:active{
            background-color: #00ff22;
            box-shadow: 0 5px rgb(138, 138, 138);
            transform: translateY(4px);
            }
            
          }
    }
    
}



